<nav class="pcoded-navbar">
  <div class="sidebar_toggle">
    <a href="#"><i class="icon-close icons"></i></a>
  </div>
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <img class="img-40 img-radius" src="/admin/images/logo2.jpg" alt="User-Profile-Image" />
        <div class="user-details">
          <span>
            <%=user.fullName%>
          </span>
        </div>
      </div>

      <div class="main-menu-content">
        <ul>
          <li class="more-details">
            <a href="/admin/generalsetting"><i class="ti-settings"></i>Ayarlar</a>
            <a href="/logout"><i class="ti-layout-sidebar-left"></i>Çıkış Yap</a>
          </li>
        </ul>
      </div>
    </div>

    <br />

    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">
      Kullanıcılar
    </div>
    <ul class="pcoded-item pcoded-left-item">

      <li>
        <a href="/admin">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Üyeler</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
    </ul>

    <div class="pcoded-navigatio-lavel" data-i18n="nav.category.forms">
      Menüler
    </div>
    <ul class="pcoded-item pcoded-left-item">

      <li>
        <a href="/admin/tavukyemekleri">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Tavuk Yemekleri</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/salatalar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Salatalar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/kurabiyeler">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Kurabiyeler</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/pastalar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Pastalar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/sutlutatlilar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Sütlü Tatlılar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/serbetlitatlilar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Şerbetli Tatlılar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li>
        <a href="/admin/kekler">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Kekler</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li>
        <a href="/admin/corbalar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Çorbalar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <li>
        <a href="/admin/makarnalar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Makarnalar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/pilavlar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Pilavlar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>



      <li>
        <a href="/admin/mantilar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Mantılar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/bakliyatlar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Bakliyatlar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/dolmalar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Dolmalar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>



      <li>
        <a href="/admin/suluyemekler">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Sulu Yemekler</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/baliklar">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Balıklar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/kofteler">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Köfteler</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/etyemekleri">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Et Yemekleri</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>

      <li>
        <a href="/admin/salads">
          <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
          <span class="pcoded-mtext" data-i18n="nav.form-components.main">Salatalar</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>




    </ul>
  </div>
</nav>