
 <footer class="footer">
    <div class="container-fluid">
        <div class="footer__instagram">
            <div class="footer__instagram__avatar">
                <div class="footer__instagram__avatar--pic">
                    <img src="/img/footer/instagram-avatar.jpg" alt="">
                </div>
                <div class="footer__instagram__avatar--text">
                    <h6>@ mutfakmasali</h6>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="/img/footer/resim1.jpg"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="/img/footer/resim2.jpg"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="/img/footer/resim3.jpg"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="/img/footer/resim4.jpg"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="/img/footer/resim5.jpg"></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="footer__instagram__item set-bg" data-setbg="/img/footer/resim6.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__text">
                    <div class="footer__logo">
                        <a href="#"><img src="/img/logo.jpg" style="width:400px; height:200px; object-fit: contain;" alt=""></a>
                    </div>
                    <p>Mutfak Masalı, lezzet dolu bir serüvene davet eden bir yemek tarifi dünyasıdır. Burada, her damak zevkine hitap eden birbirinden özel tarifler bulabilir, mutfakta yeni maceralara atılabilirsiniz. Usta şeflerin sırlarını keşfedin, pratik ve lezzetli tariflerle sofranızı renklendirin. Mutfak Masalı, yemek tutkunları için bir inci hazinesidir. Haydi, mutfağınıza sihir katmaya hazır mısınız? </p>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</footer>

<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>//

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>